@font-face {
    font-family: "Polentical Neon", sans-serif;
    src: url("../police/Polentical\ Neon\ Bold.woff") format("woff"),
           url("../police/Polentical\ Neon\ Italic.woff") format("woff");
   }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Polentical Neon', sans-serif;
    cursor: url('../images/sword2.png'), auto;
}

body
{
    height: 170vh;
    font-family: 'Polentical Neon', sans-serif;
    overflow-x: hidden;
}

/* Premier conteneur

 First container */

.ContainerHome 
{
    height: 100vh;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* 
    Premier texte l.37 a l.67
    First text l/37 to l.67
*/

.Text {
    color: white;
    font-family: 'Polentical Neon', sans-serif;
    text-shadow: 5px 5px 5px black;
    font-size: 70px;
}

.Logo 
{
    width: 400px;
    height: 400px;
    animation: scale 1s linear;
}

@keyframes scale 
{
    0%
    {
        transform: scale(0);
    }

    100%
    {
        transform: scale(1);
    }
}

.Typewriter__cursor
{
    display: none;
}

.Scroll {
    width: 62px;
    height: 62px;
    position: absolute;
    left: 50%;
    bottom: 0;
    vertical-align: middle;
    z-index: 13;
}

.arrow {
    position: absolute;
    cursor: pointer;
    z-index: 13;
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid red;
    border-right: 5px solid red;
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll1 2s infinite reverse;
    cursor: pointer;
    z-index: 13;
}

.arrow span:nth-child(2) {
    animation-delay: -.2s;
    border-bottom: 5px solid red;
    border-right: 5px solid red;
}

.arrow span:nth-child(3) {
    animation-delay: -.4s;
    border-bottom: 5px solid #03e9f4;
    border-right: 5px solid #03e9f4;
}

@keyframes scroll1 {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
}

/*  Deuxiéme conteneur

     Second container */

.case 
{
    margin-top: 100px;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

/*  
     Premier titre l.145 a l.231

     First title l.145 to l.231

*/

.Infos1 
{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.portail1
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#portail1 {
    width: 30px;
    height: 200px;
    z-index: 1;
    opacity: 0;
}

#gunorange {
    width: 100%;
    height: 150px;
    margin-left: 20px;
}

/* Classes necessaires pour le Script.js en javascript voir ligne 106

    Classes required for Script.js in javascript see line 106 */

.gunorange {
    opacity: 0;
    animation: come 1.5s linear;
}

@keyframes come 
{
    0%
    {
        opacity: 1;
    }

  100%
  {
      opacity: 1;
  }
}

.portail1active {
    animation: appear 1.5s linear forwards;
}

@keyframes appear 
{
  99%
  {
      opacity: 0;
  }  

  100%
  {
      opacity: 1;
  }  
}

.Text2 
{
    transform: translateX(-900px);
    color: white;
    text-shadow: 0 0 10px #ff7b00, 0 0 20px #ff7b00, 0 0 40px #ff7b00, 0 0 80px #ff7b00, 0 0 120px #ff7b00;
    animation: slide 2s linear forwards;
    animation-delay: 1.5s;
    font-size: 50px;
}

@keyframes slide 
{
    100%
    {
        transform: translateX(0px);
    }   
}

/* ////////////////////////////////////////////////////////////// */


/*  Deuxiéme titre l.242 a l.325

    Second title l.242 to l.325 */

.Infos2 
{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0;
}

.portail2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#portail2 {
    width: 30px;
    height: 200px;
    z-index: 1;
    opacity: 0;
}

#gunbleu {
    width: 100%;
    height: 150px;
    margin-right: 20px;
}

/* Classes necessaires pour le Script.js en javascript voir ligne 106

    Classes required for Script.js in javascript see line 106 */

.gunbleu {
    opacity: 0;
    animation: come2 1.5s linear;
}

@keyframes come2 
{
    0%
    {
        opacity: 1;
    }

  100%
  {
      opacity: 1;
  }
}

.portail2active {
    animation: appear2 1.5s linear forwards;
}

@keyframes appear2 
{
  99%
  {
      opacity: 0;
  }  

  100%
  {
      opacity: 1;
  }  
}

.Text3 
{
    transform: translateX(700px);
    color: white;
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff;
    animation: slide2 2s linear forwards;
    animation-delay: 1.5s;
    font-size: 50px;
}

@keyframes slide2
{
    100%
    {
        transform: translateX(0px);
    }   
}

/* ////////////////////////////////////////////////// */

/*  
     Troisiéme titre l.336 a l.430

     Third title l.336 to l.430

*/

.Infos3 
{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0;
}

.portail3
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

#portail3 {
    width: 250px;
    height: 50px;
    z-index: 1;
    opacity: 0;
    
}

#gunnoir 
{
    width: 10%;
    height: 125px;
    transform: rotate(90deg);
}


/* Classes necessaires pour le Script.js en javascript voir ligne 106

    Classes required for Script.js in javascript see line 106 */

.gunnoir {
    opacity: 0;
    animation: come3 1.5s linear;
}

@keyframes come3 
{
    0%
    {
        opacity: 1;
    }

  100%
  {
      opacity: 1;
  }
}

.portail3active {
    animation: appear3 1.5s linear forwards;
}

@keyframes appear3 
{
  99%
  {
      opacity: 0;
  }  

  100%
  {
      opacity: 1;
  }  
}

.Text4 
{
    transform: translateY(200px);
    color: white;
    text-shadow: 0 0 10px black, 0 0 20px black, 0 0 40px black, 0 0 80px black, 0 0 120px black;
    animation: slide3 2s linear forwards;
    opacity: 0;
    animation-delay: 1.5s;
    font-size: 50px;
}

@keyframes slide3
{

    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }   
}
