* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Polentical Neon', sans-serif;
    cursor: url('../images/sword2.png'), auto;
}

body
{
    height: 100vh;
    font-family: 'Polentical Neon', sans-serif;
}

.Ufo {
    display: none;
    position: absolute;
    z-index: 12;
    transform: translate(-50%, -70%);
    width: 8%;
}


.appear {
    display: block;
}

.display {
    display: none;
}

.Disapear 
{
    animation: disappear 2s linear;
}

@keyframes disappear 
{
    0%{
        transform: translateY(0px);
    }

    100%
    {
        transform: translateY(-150px);
    }
}

#sprite2
{
    position: absolute;
    z-index: 12;
    transform: translate(-30%, -30%);
    width: 5%;
}

#background-video 
{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}


.Scroll {
    border: 3px solid black;
    border-radius: 80%;
    width: 62px;
    height: 62px;
    position: absolute;
    left: 47%;
    bottom: 0;
    vertical-align: middle;
}

.Goldo
{
    opacity: 1;
    animation: updown 2s linear infinite forwards;
}

@keyframes updown 
{

    0% 
    {
        transform: translateY(-5px);
    }

    50% 
    {
        transform: translateY(5px);
    }

    100% 
    {
        transform: translateY(5px);
    }
}