* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Polentical Neon', sans-serif;
    cursor: url('../images/sword2.png') 5 13, auto;
}

/* Classe et id globales necessaires a toutes les pages

    Class and global id required for all pages */

#sprite
{
    position: absolute;
    z-index: 12;
    transform: translate(-30%, -20%);
    width: 10%;
}

#background-video 
{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.Ufo {
    display: none;
    position: absolute;
    z-index: 12;
    transform: translate(-50%, -70%);
    width: 8%;
}

/* Classes necessaires pour le Script.js en javascript voir ligne 32 et 50

    Classes required for Script.js in javascript see line 32 and 50 */


.appear {
    display: block;
}

.display {
    display: none;
}

.Disapear 
{
    animation: disappear 2s linear;
}

@keyframes disappear 
{
    0%{
        transform: translateY(0px);
    }

    100%
    {
        transform: translateY(-150px) scale(-1, 4);
    }
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: none;
    width: 0;
    border: none;
}
/* ////////////////////////////////////////////////////////////////////// */

