.block1 
{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: auto;
    top: 20%;
    background-color: transparent;
    position: absolute;
    z-index: 13;
}

.block-inside1
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
}

.menus {
    width: auto;
    height: auto;
    display: grid;
    justify-content: center;
    grid-gap: 10px;
}

.menu-container {
    display: inline-block;
    min-width: 220px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    vertical-align: top;
    text-align: center;
}

.menu {
    font-size: 16px;
    padding: 0px;
    line-height: 1.1em;
    padding: 10px;
}

.table-style  {
    border-collapse: collapse;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    margin: 0px auto;
}

thead tr {
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    text-align: left;
}

th, td {
    padding: 15px 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
}

tbody tr, td, th {
    border: 1px solid #ddd;
}

tbody tr:nth-child(even){
    background-color: #f3f3f3;
}

.btn3
{
    color: red;
    text-decoration: none;
    width: 100%;
    padding: 10px;
}

.btn3:hover
{
    cursor: pointer;
}

#cross
{
   font-size: 40px;
}

@media screen and (max-width: 1100px) {
  body {
    align-items: flex-start;
  }
  .table-style  {
    width: 100%;
    margin: 0px;
    display: flex;
  }
  th, td {
    padding: 10px 7px;
}

    tbody tr, td, th {
    border: 1px solid #ddd;
    display: flow-root;
    font-size: 15px;
    }

}

@media screen and (max-width: 600px) {
    body {
      align-items: flex-start;
    }
    .table-style  {
      width: 100%;
      margin: 0px;
      display: flex;
    }
    th, td {
      padding: 10px 7px;
  }
  
      tbody tr, td, th {
      border: 1px solid #ddd;
      display: flow-root;
      font-size: 10px;
      }
  }