@font-face {
  font-family: "Polentical Neon", sans-serif;
  src: url("../police/Polentical\ Neon\ Bold.woff") format("woff"),
         url("../police/Polentical\ Neon\ Italic.woff") format("woff");
 }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Polentical Neon', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
}

/* Conteneur global

 Global container */

.Head {
    width: auto;
    height: 100%;
}

/* Image */

.Delorean {
    width: auto;
    height: auto;
}

#portail1 {
  width: 30px;
  height: 200px;
  z-index: 13;
  opacity: 1;
}

#portail2 {
width: 30px;
height: 200px;
z-index: 1;
opacity: 0;
}

/* Conteneur pour les barres de progressions

Container for progress bars  */

.ContainerIn
{
    margin-top: 20px;
    width: 100%;
}

/* Conteneur pour la progress-bar avec les images */

.allprogress
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

/* Arrière-plan de la barre de progression

Background of progress bar */

.progress {
    padding: 6px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.25);
    animation: slide 6s linear forwards;
    opacity: 0;
    margin-bottom: 20px;
  }
  
  @keyframes slide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
/* Barre de progression pour le texte

Progress-bar for the text */
  
  .progress-bar {
    height: 40px;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    font-size: 30px;
    background-image:
      linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.2s linear;
    transition-property: width, background-color;
    width: 100%;
  }
  
  .progress-bar::before{
    content: " ";
    animation: progressAnim 19s forwards;
    transition: 1s ease-in-out;
  }
  
  @keyframes progressAnim {
    0% {
      color: black;
      opacity: 1;
      transition: 0.5s ease;
    }
    100% {
      color: black;
      opacity: 2;
      transition: 0.5s ease;
    }
  }
  
/* Mise en couleur de la barre de progression

Color setting of the progress bar */
  
  .progress-bar{
    animation: progressAnimation 5.5s forwards;
    width: 100%;
  }
  
  @keyframes progressAnimation {
      0%   { width: 0%; background-color: #f1ecec00;}

    60% { width: 75%; background-color: #ff0000;}

    90% { width: 99%; background-color: cyan;}
    100%  {
        width: 100%;
        background-color: #0f4;
    }
  }


.Link {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}

.LinkButton {
    width: auto;
    height: 100%;
    padding: 20px;
    font-size: 20px;
    background-color: white;
    color: black;
    opacity: 0;
    animation: up 6s linear forwards;
    transform: translateY(200px);
    cursor: pointer;
}

@keyframes up {
    0%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Vidéo */

#background-video 
{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
}



/* MediaQueries */

@media screen and (max-width: 450px){
   .progress-bar::before{
       font-size: 18px;
   }
}

@media screen and (max-width: 800px){
    .Head {
        width: 100%;
        height: 100%;
    }
    
    .Delorean {
        width: 100%;
        height: auto;
    }
 }