
@media screen and (max-width: 987px){
    .progress-bar 
        {
            font-size: 25px;
        }
}

@media screen and (max-width: 650px){
    .Title1
    {
        font-size: 22px;
    }

    .glitch
    {
        font-size: 40px;
    }
    .progress-bar 
        {
            font-size: 20px;
        }
}