@media screen and (max-width: 1600px){
    .RefNav
    {
        padding: 10px;
    }

    .search 
    {
        width: 30px;
        height: 30px;
    }

    .search.active 
    {
    width: 200px;
    }

    .search .icon 
    {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    }

    .search .icon::before 
    {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid black;
    border-radius: 50%;
    transform: translate(-4px, -4px) rotate(315deg);
    }

    .search .icon::after
    {
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: 3px black;
    border-radius: 50%;
    transform: translate(6px,6px) rotate(315deg);;
    }

.search .input
    {
    position: relative;
    width: 300px;
    height: 30px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
}

@media screen and (max-width: 1400px){
    .RefNav
    {
        letter-spacing: 2px;
        font-size: 14px;
    }
    #Text2
    {
        font-size: 30px;
    }

    #Text3
    {
        font-size: 30px;
    }

    #Text4
    {
        font-size: 30px;
    }


}

@media screen and (max-width: 947px){

    /* for the nav bar*/
       
        .NavBar 
        {
            margin-top: 0;
        }

        .List
        {
        position: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        height: 100vh;
        width: 100%;   
        left: -100%; 
        top: 0;
        text-align: center;
        transition: all 0.5s ease-in-out;
        display: block;
        padding-top: 20px;
        }

        #background-videonav 
        {
        display: block;
        opacity: 1;
        }

        .RefNav
        {
            display: inline-block;
            margin: 20px 0;
            font-size: 15px;
            letter-spacing: 4px;
            padding: 20px;
            color: white;
            cursor: pointer;
            text-shadow: 0 0 10px black, 0 0 20px black, 0 0 40px black, 0 0 80px black, 0 0 120px black;   
        }

        .color {
            color: #fff !important;
        }
    
        .List.active
        {
            left: 0;
            padding-top: 0px;
        }

        .research{
            text-align: center;
            display: flex;
            justify-content: center;
        }
    
        .toggle
        {
            display: flex;
            z-index: 999;
            margin-top: 20px;
        }
        /*/////////*/

        #gunorange 
        {
        display: none;
        }

        #gunbleu 
        {
        display: none;
        }

        #gunnoir
        {
        display: none;
        }

        .tableimage {
            width: 15px;
            height: 15px;
        }
        
    
}

@media screen and (max-width: 750px){
    #presentation-video
    {
        width: 300px;
    }
}

@media screen and (max-width: 600px){

    .allimg {
        max-width: 250px;
    }

    .Discover1
    {
        font-size: 35px;
    }

    .titlevideo 
    {
        font-size: 35px;
    }

    .banner 
    {
        font-size: 35px;
    }

    .Text 
    {
        font-size: 25px;
    }

    .Logo
    {
        width: 200px;
        height: 200px;
    }

    .glitch {
        font-size: 60px;
    }

    .glitch1 {
        font-size: 60px;
    }

    .Text2 {
        text-shadow: 0 0 10px #ff7b00;
    }

    .Text3 {
        text-shadow: 0 0 10px #00b3ff;
        font-size: 25px;
        text-align: end;
    }

    .Title1Contact 
    {
        font-size: 38px;
    }

    .Title2Contact 
    {
        font-size: 40px;
    }

    .goku1
    {
        width: 150px;
    }
    .goku2
    {
        width: 150px;
    }
}

@media screen and (max-width: 340px){

    .container2 
    {
        top: 10%;
    }

    .form-image {
        width: 100%;
    }

    #Text4
    {
        font-size: 25px;
    }


}

@media screen and (max-height: 768px) {
    .Container
    {
        height: 150vh;
    }

    .RefNav
    {
        margin: 10px 0;
    }
}