@import url('http://fonts.cdnfonts.com/css/polentical-neon');
html {
    scroll-behavior: smooth;
}

.NavBar 
{
    position: fixed;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    margin-top: 50px;
}

.color {
    color: #0f4 !important;
}

.color:hover {
    color: white !important;
}

.background {
    background-color: rgba(0, 0, 0, 0.7);
}

#background-videonav 
{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    position: absolute;
    display: none;
}

.List 
{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TextNav {
    width: auto;
    font-size: 20px;
}


.RefNav{
    position: relative;
    display: inline-block;
    padding: 25px 20px;
    color: #03e9f4;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5;
    letter-spacing: 4px;
    font-family: 'Polentical Neon', sans-serif;
}

.Paragraphe {
    margin: 0;
    padding: 0;
}


.RefNav:hover {
    color: white;
    z-index: 0;            
}               

.RefNav.active span {
    position: absolute;
    display: block;
}

.RefNav.active span:nth-child(5){
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg,transparent, #f00);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%
    }

    50% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}

.RefNav.active span:nth-child(2){
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg,transparent, #f00);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%
    }

    50% {
        top: 100%;
    }

    100% {
        top: 100%;
    }
}

.RefNav.active span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg,transparent,#f00);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%
    }

    50% {
        right: 100%;
    }

    100% {
        right: 100%;
    }
}

.RefNav.active span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#f00);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%
    }

    50% {
        bottom: 100%;
    }

    100% {
        bottom: 100%;
    }
}


.User {
    width: 50px;
    height: 50px;
    color: white;
    background-color: white;
}

.search {
    position: relative;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 40px;
    transition: 0.5s;
    box-shadow: 0 0 0 5px black;
    overflow: hidden;
}

.search.active 
{
    width: 360px;
}

.search .icon 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.search .icon::before 
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid black;
    border-radius: 50%;
    transform: translate(-4px, -4px) rotate(315deg);
}

.search .icon::after
{
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: 3px black;
    border-radius: 50%;
    transform: translate(6px,6px) rotate(315deg);;
}

.search .input
{
    position: relative;
    width: 300px;
    height: 40px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input 
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 0;
}

.clear
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before
{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}

.clear::after
{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}

.toggle 
{
    position: relative;
    width: 70px;
    height: 70px;
    background: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    display: none;
}

.toggle span 
{
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background: white;
    transition: 0.5s;
}

.toggle span:nth-child(1)
{
    transform: translateY(-15px);
    width: 40px;
    left: 15px; 
    background: white;
}

.toggle span:nth-child(2)
{
    transform: translateY(15px);
    width: 40px;
    left: 15px;
    background: white; 
}


.toggle:hover span 
{
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background: red;
    transition: 0.5s;
}

.toggle:hover span:nth-child(1)
{
    transform: translateY(-15px);
    width: 40px;
    left: 15px; 
    background: red;
}

.toggle:hover span:nth-child(2)
{
    transform: translateY(15px);
    width: 40px;
    left: 15px;
    background: red;
}

.toggle.active span:nth-child(1)
{
    width: 40px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
    background: red;
}

.toggle.active span:nth-child(2)
{
    width: 40px;
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.25s;
    background: red;
}

.toggle.active span:nth-child(3)
{
    transform: translateX(60px);
    background: red;
}